@import "https://fonts.googleapis.com/css?family=Lato:400,700,900";

:root {
  --white: white;
  --coconut-milk: #F0EDE5;
  --warm-sand: #C0AB8E;
  --black:#000000; 
  --soft-black:#666666;
  --grey:#e4e4e4;
  --soft-grey: #ccc;
  --light-warm-sand:#D1BA9F;
  --green: 	#339733;
}
* {
  box-sizing: border-box;
}

body {
  background: var(--white);
  margin: 0;
  font-family: "Lato", sans-serif;
  overflow-x: hidden;
}

.container {
  display: flex;
  justify-content: center;
  background: #f8f3f3;
  height: 100vh;
  width: 100vw;
}
.add-task-form{
    display: flex;
    flex-direction: column;
    background: var(--coconut-milk);
    margin: 5% 0;
    border-radius: 3%;
    min-width: 30%;
    box-shadow: 1.5px 1.5px 1.5px 1.5px var(--soft-grey);

}
.add-task-form__title{
    font-size: 32px;
    border-radius: 15px 15px 0 0;
    color: var(--coconut-milk);
    padding: .5rem 4rem;
    background: var(--warm-sand);
    width: 100%;
    text-align: center;
    text-transform: uppercase;
}
.add-task-form__input{
    margin: 1rem 1rem 0.5rem 1rem;
    padding: .5rem; 
    background: transparent;
    border: none;
    border-bottom: 1px solid #000000;
}
.add-task-form__input--title{
    font-size: 24px;
    margin: 1rem 1rem 0 1rem;
}
.add-task-form__button{
    margin: 1rem 12rem 2rem 12rem;
    padding: 1rem;
    background: var(--warm-sand);
    text-transform:uppercase;
    font-size:  16px;
    border-radius: 5px;
    color: var(--coconut-milk);
    font-weight: bold;
    border: 2px solid var(--warm-sand);
    font-size: 14px;
}

.add-task-form__button:hover{
    cursor: pointer;
    background:var(--light-warm-sand);
    border: 2px solid var(--light-warm-sand);

}
.divide-line{
    margin: 0 1rem;
    border-bottom: 4px solid var(--warm-sand);

}
.task-list{
    background: var(--warm-sand);
    padding:0;
    list-style-type: none;
    margin:1rem;
    overflow-y: scroll;
    max-height: 50%;
}

.task-list__item{
    display: flex;
    margin:.7rem 1rem ;
    border-radius: 10px;
    background: var(--grey);
    box-shadow: 1px 1px 1px 1px var(--soft-black);
}
.task-list-item__button{
    background: var(--grey);
    border: 2px solid var(--grey);
    font-size: 24px;
    border-radius: 10px;

}
.task-list-item__button:hover{
    cursor: pointer;
    opacity:0.5;
}

.task-list-item__button--is-done{
    justify-self: flex-start;
    color: var(--green);
}

.task-list-item__button--delete{
    margin-left:auto; 
}
.task-list-item__content{
    align-self: center;
}